/*      Navigation Links     
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: white;
    height: 70px;
}
.navbar img {
    float: left;
    position: absolute;
    width: 55px;
    height: 55px;
    left: 37px;
    top: 18px;
}
.navbar h1 {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    width: 136px;
    height: 29px;
    top: 5px;

    left: 106px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #219EBC;
}
.navbar h2 {
    position: absolute;
    width: 122px;
    height: 20px;
    left: 106px;
    top: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #8ECAE6;
}
.right-nav {
    float:right
}
.nav-link {
    float: left;
    margin-right: 200px;
}
li {
    float: left;
    margin-right: 8px;
    margin-right: 8px;
}
li a {
    display: block;
    line-height: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color:#000000;
}

.link :hover:not(.active) {
    color:#fb8500;
    text-decoration: underline;
    transition-duration: 0.9s;
    text-decoration-style: solid;
    text-decoration-thickness: 2px;
    text-underline-offset: 10px; 
}
.active {
    color: #FFB703;
    font-weight: 500;
}
.user {
    box-sizing: border-box;
    width: 124px;
    height: 43.71px;
    background: #219EBC;
    border: 1px solid #219EBC;
    border-radius: 25px;
    color: white;
}
/*      Welcome Banner      
.banner {
    position: sticky;
    height: 38.8%;
    width: 100%;

    left: 0px;
    top: 93px;
    object-fit: cover;
    filter: blur(1.5px);

    
}
.welcome-text {
    position: fixed;
    left: 69px;
    top: 130px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    color: #FFFFFF;
}
.welcome-name {
    position: fixed;
    width: 7.5%;
    height: 6%;
    left: 5%;
    top: 35%;
    background: #FFB703;
    border-radius: 5px;
}
.name {
    position: sticky;
    font-family: 'Montserrat';
    margin: 5%;
    font-weight: 800;
    top: 1%;
    font-size: 30px;
    color: #000000;
}  */

/*      Dashboard       */
