
/*			HOME PAGE 			*/
.right {
    float: right;
}
.scroll {
    margin-left: -50px;
    margin-top: -50px;
}
.main-section{
	width:80%;
	margin:0 auto;
	text-align: center;
	padding: 0px 5px;
}
.dashboard{
	width:32%;
	display: inline-block;
	margin-top: 50px; 
}
.icon-section i{
	font-size: 30px;
	padding:10px;
	border:1px solid #34495E;
	margin-bottom: 10px;
    margin: 5%;
	background-color:#fff;
    border-radius: 50%;
}
.icon-section h3{
	font-size: 20px;
    color: #fff;
	font-family: "Mulish", sans-serif;
}
.icon-section p{
	margin:0px;
	font-size: 20px;
	padding-bottom: 10px;
	font-family: "Mulish", sans-serif;
}
.icon {
    color: #023047;
}
.blueDash {
    background-color:#34495E;
}
.yellowDash {
    background-color:#c9e6f3;
}
.yellowDash h3, .yellowDash p{
	color: #34495E;
}
.blueDash p, .blueDash h3{
	color:#fff;
}
.pg-breadcrumb {
	height: 240px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
/*			STUDENTS PAGE 			*/
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	font-family: "Mulish", sans-serif;
	width: 50%;
	margin-bottom: 20px;

}
.styled-table thead tr {
	background-color: #c9e6f3;
	/*background-color: #FFDA0E;*/
    color: #023047;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
	white-space: nowrap;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #4ACBCB;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #34495E;
}
.ico {
	font-size: 24px;
	margin-left: 50px;
	align-content: center;
	color: #4ACBCB;
	align-items: center;
}
/*			STUDENT'S ENROLLED COURSES PAGE 			*/
.banner-text {
	font-size: 50px !important;
}
.save-button {
	color: #f3f3f3;
	background: #023047;
	border-radius: 5px;
	margin: 5px;
}
.btnLink {
	padding: 5px;
}
/*			STUDENT HOME			*/
.enroll{
    background: #FFDA0E;
	color: black;
    width: 120px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
    font-size: 14;
}
.enroll:hover {
    color: black;
    background-color: #c9e6f3;
    transition: 0.5s ease;
}
.enroll a {
    color: black;
    font-family: "Mulish", sans-serif;
    font-weight: 500;
}
.price {
    border-radius: 15px;
    background: #c9e6f3;
    padding: 5px;
    width: 15%;

}
/*			ENROLL			*/
#boxx {
	border-style: dotted;
	color: #078392;
	padding: 100px;
}
#boxxx {
	background: #D4E3E5;
}
.butones{
		background: #FFDA0E;
		font-size: 20px;
}
.addBtn{
	background-color: #c9e6f3;
	font-size: 20px;
	padding: 7px;
	border-radius: 7px;
	color: #023047;
}
.addBtn:hover {
	color: #023047;
	background: #FFDA0E;

}
.loginBtn{
	background-color: #c9e6f3;
	font-size: 20px;
	padding: 3px;
	border-radius: 7px;
	color: #023047;
}